{% extends "layout.jinja2" %}
{% block image %}
    <header class="masthead" style="background-image: url('../static/img/home-bg.jpg')">
{% endblock %}
{% block title %}
    <h1>Mark's Thoughtful Spot</h1>
    <span class="subheading">404 Page Not Found</span>
{% endblock %}
