{% extends "layout.jinja2" %}
{% block content %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('../static/img/home-bg.jpg')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Mark's Thoughtful Spot</h1>
              <span class="subheading">404 Page Not Found</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <hr>
{% endblock %}
